/* Global */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  line-height: 1.5rem;
  text-align: center;
  background-color: #333;
}

/* One */
#one {
  flex-basis: 25%;
  height: 10rem;
  animation-name: myAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes myAnimation {
  0% {
    transform: translateX(-100%);
    background-color: red;
  }
  25% {
    transform: translateX(0);
    background-color: blue;
  }
  50% {
    transform: translateX(100%);
    background-color: green;
  }
  75% {
    transform: translateX(0);
    background-color: yellow;
  }
  100% {
    transform: translateX(-100%);
    background-color: red;
  }
}

/* Two */
#two {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  width: 4rem;
  background-color: transparent;
  cursor: pointer;
}

#two > * {
  height: 0.5rem;
  background-color: aliceblue;
  transition: transform 1s ease-out, background-color 1s ease-in;
  
}

#twoA {
  position: absolute;
  top: 5rem;
  left: -15rem;
  width: 15rem;
  height: 100%;
  background-color: chartreuse;
  cursor: pointer;
  transition-property: transform, background-color;
  transition-duration: 2s;
}
